<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>
  <appender name="RedisAppender" type="log4net.Redis.Appender.RedisAppender, log4net.Redis" >
    <hosts>localhost:6379</hosts>
    <key>logstash</key>
    <period>1000</period>
    <batchsize>5000</batchsize>
    <maxbatchperiod>2000</maxbatchperiod>
    <purgeOnConnectionFailure>false</purgeOnConnectionFailure>
    <layout type="log4net.Redis.Layout.JsonEventLayout, log4net.Redis ">
      <param name="AddSequence" value="true" />
      <param name="UserFields" value="type:log4net.Redis.JsonEventLayout" />
    </layout>
  </appender>
  <root>
    <level value="DEBUG" />
    <!--<appender-ref ref="ConsoleAppender" />-->
    <appender-ref ref="RedisAppender" />
  </root>
</log4net> 
